body{
    background-color: #3333330f;
    margin: 0;
    width: auto;
    height: auto;

}
#header{
    background-color: white;
    box-shadow: 1px 1px 6px 2px rgba(232, 229, 229, 0.43);;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.header-left{
    display: flex;
}
.header-center{
    margin-top: 10px;
    margin-right: 20px;
}
.header-center-icon{
    margin-right: 30px;
}
.header-right{
    margin-top: 10px;
}
.header-right-icon{
    margin-right: 25px;
}
#body_part{
    position: fixed;
    padding-top: 80px;
    margin-left: 15px;
}